p {
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
    font-size: 16px;
    font-family: Verdana;
}

#firstpara {
    margin-top: 23px;
}

.paraspace {
    line-height: 50px; 
    margin-bottom: 10px;
}

body {
    background-color: rgb(240, 236, 243);
}

h1 {
    text-align: center;
    font-size: 55px;
    font-family: Verdana;
    background-color: rgb(216, 191, 216);
}

h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
}

.center {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
